<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google" content="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/angeles.css')}}">
    <script src="{{url_for('static', filename='js/code.js')}}"></script>
    <title>Document</title>
    
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{url_for('static', filename='media/logo blanco.png')}}" alt="">
        </div>
        <menu>
            <ul>
                <li>Nosotros</li>
                <li>Admisiones</li>
                <li>Programa Académico</li>
                <li>Actividades</li>
                <li>Noticias</li>
                <li>Pagos</li>
                <li><a href="http://45.65.233.35:1725/angeles/login/index.php">AvCLA</a></li>
            </ul>
        </menu>
    </header>
    <div class="main-container">
        <div class="container-fixed">
            <div class="container-move">
                <div class="container-box box-grow">
                    <div class="item item-title">
                        1
                    </div>
                    <div class="item item-img">
                        <img src="{{url_for('static', filename='media/image1.jpg')}}" alt="">
                    </div>
                </div>
                <div class="container-box box-grow">
                    <div class="item item-title">
                        1
                    </div>
                    <div class="item item-img">
                        <img src="{{url_for('static', filename='media/image2.jpg')}}" alt="">
                    </div>
                </div>
                <div class="container-box box-grow">
                    <div class="item item-title">
                        1
                    </div>
                    <div class="item item-img">
                        <img src="{{url_for('static', filename='media/image3.jpg')}}" alt="">
                    </div>
                </div>
                <div class="container-box box-grow">
                    <div class="item item-title">
                        1
                    </div>
                    <div class="item item-img">
                        <img src="{{url_for('static', filename='media/image4.jpg')}}" alt="">
                    </div>
                </div>
                <div class="container-box box-grow">
                    <div class="item item-title">
                        1
                    </div>
                    <div class="item item-img">
                        <img src="{{url_for('static', filename='media/image5.jpg')}}" alt="">
                    </div>
                </div>
            </div>
            <div class="container-move">
                <div class="container-box box-grow">
                    <div class="item item-title">
                        2
                    </div>
                    <div class="item item-img">
                        <img src="{{url_for('static', filename='media/image6.jpg')}}" alt="">
                    </div>
                </div>
                <div class="container-box box-grow">
                    <div class="item item-title">
                        2
                    </div>
                    <div class="item item-img">
                        <img src="{{url_for('static', filename='media/image7.jpg')}}" alt="">
                    </div>
                </div>
                <div class="container-box box-grow">
                    <div class="item item-title">
                        2
                    </div>
                    <div class="item item-img">
                        <img src="{{url_for('static', filename='media/image8.jpg')}}" alt="">
                    </div>
                </div>
                <div class="container-box box-grow">
                    <div class="item item-title">
                        2
                    </div>
                    <div class="item item-img">
                        <img src="{{url_for('static', filename='media/image9.jpg')}}" alt="">
                    </div>
                </div>
                <div class="container-box box-grow">
                    <div class="item item-title">
                        2
                    </div>
                    <div class="item item-img">
                        <img src="{{url_for('static', filename='media/image10.jpg')}}" alt="">
                    </div>
                </div>
            </div>
            <div class="container-move">
                <div class="container-box box-grow">
                    <div class="item item-title">
                        1
                    </div>
                    <div class="item item-img">
                        <div class="item item-img">
                            <img src="{{url_for('static', filename='media/image1.jpg')}}" alt="">
                        </div>
                    </div>
                </div>
                <div class="container-box box-grow">
                    <div class="item item-title">
                        1
                    </div>
                    <div class="item item-img">
                        <img src="{{url_for('static', filename='media/image2.jpg')}}" alt="">
                    </div>
                </div>
                <div class="container-box box-grow">
                    <div class="item item-title">
                        1
                    </div>
                    <div class="item item-img">
                        <img src="{{url_for('static', filename='media/image3.jpg')}}" alt="">
                    </div>
                </div>
                <div class="container-box box-grow">
                    <div class="item item-title">
                        1
                    </div>
                    <div class="item item-img">
                        <img src="{{url_for('static', filename='media/image4.jpg')}}" alt="">
                    </div>
                </div>
                <div class="container-box box-grow">
                    <div class="item item-title">
                        1
                    </div>
                    <div class="item item-img">
                        <img src="{{url_for('static', filename='media/image5.jpg')}}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <main>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident pariatur nobis sapiente explicabo modi placeat, ipsa error laudantium iste omnis voluptates eos distinctio, ab dolores dolore perspiciatis quos possimus quod?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident pariatur nobis sapiente explicabo modi placeat, ipsa error laudantium iste omnis voluptates eos distinctio, ab dolores dolore perspiciatis quos possimus quod?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident pariatur nobis sapiente explicabo modi placeat, ipsa error laudantium iste omnis voluptates eos distinctio, ab dolores dolore perspiciatis quos possimus quod?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident pariatur nobis sapiente explicabo modi placeat, ipsa error laudantium iste omnis voluptates eos distinctio, ab dolores dolore perspiciatis quos possimus quod?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident pariatur nobis sapiente explicabo modi placeat, ipsa error laudantium iste omnis voluptates eos distinctio, ab dolores dolore perspiciatis quos possimus quod?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident pariatur nobis sapiente explicabo modi placeat, ipsa error laudantium iste omnis voluptates eos distinctio, ab dolores dolore perspiciatis quos possimus quod?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident pariatur nobis sapiente explicabo modi placeat, ipsa error laudantium iste omnis voluptates eos distinctio, ab dolores dolore perspiciatis quos possimus quod?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident pariatur nobis sapiente explicabo modi placeat, ipsa error laudantium iste omnis voluptates eos distinctio, ab dolores dolore perspiciatis quos possimus quod?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident pariatur nobis sapiente explicabo modi placeat, ipsa error laudantium iste omnis voluptates eos distinctio, ab dolores dolore perspiciatis quos possimus quod?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident pariatur nobis sapiente explicabo modi placeat, ipsa error laudantium iste omnis voluptates eos distinctio, ab dolores dolore perspiciatis quos possimus quod?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident pariatur nobis sapiente explicabo modi placeat, ipsa error laudantium iste omnis voluptates eos distinctio, ab dolores dolore perspiciatis quos possimus quod?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident pariatur nobis sapiente explicabo modi placeat, ipsa error laudantium iste omnis voluptates eos distinctio, ab dolores dolore perspiciatis quos possimus quod?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident pariatur nobis sapiente explicabo modi placeat, ipsa error laudantium iste omnis voluptates eos distinctio, ab dolores dolore perspiciatis quos possimus quod?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident pariatur nobis sapiente explicabo modi placeat, ipsa error laudantium iste omnis voluptates eos distinctio, ab dolores dolore perspiciatis quos possimus quod?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident pariatur nobis sapiente explicabo modi placeat, ipsa error laudantium iste omnis voluptates eos distinctio, ab dolores dolore perspiciatis quos possimus quod?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident pariatur nobis sapiente explicabo modi placeat, ipsa error laudantium iste omnis voluptates eos distinctio, ab dolores dolore perspiciatis quos possimus quod?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident pariatur nobis sapiente explicabo modi placeat, ipsa error laudantium iste omnis voluptates eos distinctio, ab dolores dolore perspiciatis quos possimus quod?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident pariatur nobis sapiente explicabo modi placeat, ipsa error laudantium iste omnis voluptates eos distinctio, ab dolores dolore perspiciatis quos possimus quod?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident pariatur nobis sapiente explicabo modi placeat, ipsa error laudantium iste omnis voluptates eos distinctio, ab dolores dolore perspiciatis quos possimus quod?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident pariatur nobis sapiente explicabo modi placeat, ipsa error laudantium iste omnis voluptates eos distinctio, ab dolores dolore perspiciatis quos possimus quod?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident pariatur nobis sapiente explicabo modi placeat, ipsa error laudantium iste omnis voluptates eos distinctio, ab dolores dolore perspiciatis quos possimus quod?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident pariatur nobis sapiente explicabo modi placeat, ipsa error laudantium iste omnis voluptates eos distinctio, ab dolores dolore perspiciatis quos possimus quod?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident pariatur nobis sapiente explicabo modi placeat, ipsa error laudantium iste omnis voluptates eos distinctio, ab dolores dolore perspiciatis quos possimus quod?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident pariatur nobis sapiente explicabo modi placeat, ipsa error laudantium iste omnis voluptates eos distinctio, ab dolores dolore perspiciatis quos possimus quod?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident pariatur nobis sapiente explicabo modi placeat, ipsa error laudantium iste omnis voluptates eos distinctio, ab dolores dolore perspiciatis quos possimus quod?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident pariatur nobis sapiente explicabo modi placeat, ipsa error laudantium iste omnis voluptates eos distinctio, ab dolores dolore perspiciatis quos possimus quod?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident pariatur nobis sapiente explicabo modi placeat, ipsa error laudantium iste omnis voluptates eos distinctio, ab dolores dolore perspiciatis quos possimus quod?</p>
        </main>
    </div>
</body>
</html>